.modal-header
  h3.modal-title Select Player
.modal-body
  .row
    .col-sm-12
      div(ng-repeat='u in users')
        button.list-group-item.active(ng-if='userService.userPid !== u.user.pid', ng-click='accuse(u.user.pid)') {{u.user.username}}
