.modal-header
  h3.modal-title Select Location
.modal-body
  .row
    .col-sm-12
      div(ng-repeat='location in locations')
        button.list-group-item.active(ng-click='guessLocation(location)') {{location}}
