.container-fluid
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h1.panel-title Active Users
                .panel-body
                    .list-group
                        .list-group-item(ng-class='{ "active": u === home.userService.username }', ng-repeat='u in home.users') {{u}}
        .col-sm-6
            .panel.panel-default
                .panel-heading.clearfix
                    h1.panel-title.pull-left Rooms
                    button.btn.btn-xs.btn-default.pull-right(ng-click='home.createRoom()')
                        i.fa.fa-plus &nbsp; New
                .panel-body
                    .list-group
                        a.list-group-item(ui-sref='room({ roomId: r })', ng-repeat='r in home.rooms') {{r}}
