.container-fluid
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Menu
                .panel-body.text-center
                    button.btn.btn-default(ng-click='home.createRoom()')
                        i.fa.fa-plus
                        | &nbsp;Create Game
                    br
                    br
                    button.btn.btn-default
                        i.fa.fa-arrow-right
                        | &nbsp;Join Game
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Active Users
                .panel-body
                    .list-group
                        .list-group-item(ng-class='{ "active": u === home.userService.username }', ng-repeat='u in home.users') {{u}}
