.container-fluid
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Menu
                .panel-body.text-center
                    button.btn.btn-default(style='width: 100%;', ng-click='home.createRoom()')
                        i.fa.fa-plus
                        | &nbsp;Create Game
                    br
                    br
                    form(name='form', ng-submit='form.$valid && home.joinRoom(joinRoomId)', novalidate)
                        .input-group
                            input.form-control(type='text', name='roomId', placeholder='Room Id',
                              required, pattern='[0-9a-f]{5}', minlength='5', maxlength='5'
                              ng-model='joinRoomId')
                            span.input-group-btn
                                button.btn.btn-default(type='submit')
                                    i.fa.fa-arrow-right
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Active Users
                .panel-body.text-center
                        span(style='margin: 0px 10px; display: inline-block;',
                          ng-class='{ "text-info": user.pid === home.userService.userPid }', ng-repeat='(pid,user) in home.users')
                            i.fa.fa-user
                            | &nbsp;{{user.username}}
