.container-fluid
    h1 Room ID: {{room.roomId}}
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Users in room
                .panel-body.text-center
                    span(style='margin: 0px 10px; display: inline-block;',
                      ng-class='{ "text-info": user === room.userService.username }', ng-repeat='(user, ready) in room.users')
                        i.fa.fa-user
                        | &nbsp;{{user}} - {{ user === room.host ? "Host" : "Ready: "+ready}}
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Chat
                .panel-body
                    input.form-control(type='text', name='chat', placeholder='Send a chat message...', required
                        ng-model='room.chatMsg', ng-keypress='($event.which === 13 && room.chatMsg.length > 0) ? room.sendMessage() : false')
                    div(style='padding: 10px')
                        p(ng-repeat='msg in room.messages track by $index') {{msg}}
    .row
        .col-sm-2
            button.btn.btn-xl.btn-default(ng-if = 'room.isHost === true', ng-click='room.startGame()') Start Game
            button.btn.btn-xl.btn-default(ng-if = 'room.isHost === false', ng-click='room.toggleReady()') Toggle Ready
            button.btn.btn-xl.btn-default(ng-disabled = 'room.isPaused !== false', ng-click = 'room.pause()') Pause
