.modal-header
  h3.modal-title Select Action
.modal-footer
  .col-xs-6
    button.btn.btn-xs.btn-primary.i.fa.fa-user-secret(type='button', ng-click='selectAccuseAction()') Accuse Player
  .col-xs-6
    button.btn.btn-xs.btn-primary.i.fa.fa-map-signs(type='button', ng-click='selectGuessLocationAction()') Guess Location
