.modal-header
  h3.modal-title Select Action
.modal-footer
  .row
    .col-xs-6
      button.btn.btn-primary.btn-lg.btn-block(ng-click='selectAccuseAction()', style='white-space: normal')
        span.i.fa.fa-user-secret
        |  Accuse Player
    .col-xs-6
      button.btn.btn-primary.btn-lg.btn-block(ng-click='selectGuessLocationAction()', style='white-space: normal')
        span.i.fa.fa-map-signs
        |  Guess Location
